APP_NAME=""
APP_TITLE=""
APP_ENV="local"
APP_KEY=base64:W8UqtE9LHZW+gRag78o4BCbN1M0w4HdaIFdLqHJ/9PA=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL="https://vimi12.xyz"
APP_LOCALE="en"
SESSION_LIFETIME=3600

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="vimi12_315"
DB_USERNAME="vimi12_22"
DB_PASSWORD="HD}HSk{etV9j"


TENANT_DATABASE_PREFIX="vimi12_"
CENTRAL_DOMAIN="vimi12.xyz"

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER="smtp"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USERNAME="syzygysec@gmail.com"
MAIL_PASSWORD="barupwinfk"
MAIL_ENCRYPTION="tls"
MAIL_FROM_ADDRESS="syzygysec@gmail.com"
MAIL_FROM_NAME="SYZ"

PUSHER_APP_ID=1047460
PUSHER_APP_KEY=60edf05e962a07
PUSHER_APP_SECRET=e521ca05a5a0
PUSHER_APP_CLUSTER=eu

ENVATO_PURCHASE_CODE="ff18e8cc7f92f"
ALLOW_REGISTRATION=true
MAC_LICENCE_CODE=
ADMINISTRATOR_USERNAMES=syzygy

BACKUP_DISK="local"
DROPBOX_ACCESS_TOKEN=""

#Configuration details for superadmin modules

#Stripe payment details for superadmin module
STRIPE_PUB_KEY=""
STRIPE_SECRET_KEY=""

#PayPal payment details for superadmin module
PAYPAL_MODE=""

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_API_USERNAME=""
PAYPAL_SANDBOX_API_PASSWORD=""
PAYPAL_SANDBOX_API_SECRET=""

#PayPal Setting & API Credentials - live
PAYPAL_LIVE_API_USERNAME=""
PAYPAL_LIVE_API_PASSWORD=""
PAYPAL_LIVE_API_SECRET=""

#Razor pay API credentials
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

#Payhere pay API credentials
PAYHERE_MERCHANT_ID=""
PAYHERE_MERCHANT_SECRET=""
PAYHERE_LIVE="false"

#Pesapal API details
PESAPAL_CONSUMER_KEY=""
PESAPAL_CONSUMER_SECRET=""
PESAPAL_CURRENCY=KES
PESAPAL_LIVE="false"

LSCACHE_ESI_ENABLED=true
LSCACHE_DEFAULT_TTL=900
LSCACHE_DEFAULT_CACHEABILITY=public


ACTIVITY_LOGGER_ENABLED=false
DELETE_RECORDS_OLDER_THAN_DAYS=10

PAY_ONLINE_LIVE="false"
PAY_ONLINE_STARTING_NO=""
PAY_ONLINE_BANK_NAME=""
PAY_ONLINE_BRANCH_NAME=""
PAY_ONLINE_ACCOUNT_NO=""
PAY_ONLINE_ACCOUNT_NAME=""
PAY_ONLINE_SWIFT_CODE=""

SIZE_LIMIT=1024

#s3
AWS_SUPERADMIN_AD_STORAGE_ENABLED=false
AWS_KEY=""
AWS_SECRET=""
AWS_REGION=""
AWS_BUCKET=""